{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Profil de Mon Nom ✅</h1>

    <form id="profile-form">
        <div class="form-group">
            <label for="name">Nom:</label>
            <input type="text" id="name" name="name" value="Mon Nom">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="monmail@mail.com">
        </div>
        <button type="button" id="save-button" class="save-button">Enregistrer</button>
    </form>
</div>


{% endblock %}
