{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container mt-4 bodyWithImg">

<h1 class="title-content">Bienvenue sur CiviLink !</h1>    
</div>

    
{% endblock %}
