{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<body class="homepage">
    <div class="background-image-container">
        <div class="container mt-4">      
            <h1 class="title-content">Bienvenue sur CiviLink !</h1>
        </div>
    </div>
</body>

{% endblock %}
